In [2]:
# Importing necessary libraries
import seaborn as sns
import matplotlib.pyplot as plt
# import zipfile
import pandas as pd
import numpy as np
import os

In [3]:
hl = pd.read_csv(r"https://raw.githubusercontent.com/ek-chris/Practice_datasets/refs/heads/main/home_loan_test.csv")

In [56]:
hd = pd.read_csv(r"https://raw.githubusercontent.com/ek-chris/Practice_datasets/refs/heads/main/home_loan_train.csv")

hd.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [60]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [4]:
hl.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [59]:
merged = pd.merge(hl, hd, on="Loan_ID", how="outer")

home_loan = merged

home_loan.head(5)

,Loan_ID,Gender_x,Married_x,Dependents_x,Education_x,Self_Employed_x,ApplicantIncome_x,CoapplicantIncome_x,LoanAmount_x,Loan_Amount_Term_x,...,Dependents_y,Education_y,Self_Employed_y,ApplicantIncome_y,CoapplicantIncome_y,LoanAmount_y,Loan_Amount_Term_y,Credit_History_y,Property_Area_y,Loan_Status
0,LP001002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,Graduate,No,4583.0,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [61]:
home_loan.dropna()

Empty DataFrame
Columns: [Loan_ID, Gender_x, Married_x, Dependents_x, Education_x, Self_Employed_x, ApplicantIncome_x, CoapplicantIncome_x, LoanAmount_x, Loan_Amount_Term_x, Credit_History_x, Property_Area_x, Gender_y, Married_y, Dependents_y, Education_y, Self_Employed_y, ApplicantIncome_y, CoapplicantIncome_y, LoanAmount_y, Loan_Amount_Term_y, Credit_History_y, Property_Area_y, Loan_Status]
Index: []

[0 rows x 24 columns]

In [62]:
home_loan.head(10)

,Loan_ID,Gender_x,Married_x,Dependents_x,Education_x,Self_Employed_x,ApplicantIncome_x,CoapplicantIncome_x,LoanAmount_x,Loan_Amount_Term_x,...,Dependents_y,Education_y,Self_Employed_y,ApplicantIncome_y,CoapplicantIncome_y,LoanAmount_y,Loan_Amount_Term_y,Credit_History_y,Property_Area_y,Loan_Status
0,LP001002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,Graduate,No,4583.0,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,Graduate,Yes,5417.0,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,Not Graduate,No,2333.0,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3+,Graduate,No,3036.0,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001015,Male,Yes,0,Graduate,No,5720.0,0.0,110.0,360.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,LP001018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,Graduate,No,4006.0,1526.0,168.0,360.0,1.0,Urban,Y

In [64]:
home_loan.fillna(inplace=True)

ValueError: Must specify a fill 'value' or 'method'.

In [5]:
hl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [6]:
hl.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [13]:
alpha_features = hl.select_dtypes(include=['object'])
alpha_features

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,Urban
1,LP001022,Male,Yes,1,Graduate,No,Urban
2,LP001031,Male,Yes,2,Graduate,No,Urban
3,LP001035,Male,Yes,2,Graduate,No,Urban
4,LP001051,Male,No,0,Not Graduate,No,Urban
...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,Urban
363,LP002975,Male,Yes,0,Graduate,No,Urban
364,LP002980,Male,No,0,Graduate,No,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,Rural
366,LP002989,Male,No,0,Graduate,Yes,Rural

In [16]:
num_features = hl.select_dtypes(include=['float64','int64']).columns

num_features

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [17]:
hl[num_features].describe().T

,count,mean,std,min,25%,50%,75%,max
ApplicantIncome,367.0,4805.599455,4910.685399,0.0,2864.00,3786.0,5060.0,72529.0
CoapplicantIncome,367.0,1569.577657,2334.232099,0.0,0.00,1025.0,2430.5,24000.0
LoanAmount,362.0,136.132597,61.366652,28.0,100.25,125.0,158.0,550.0
Loan_Amount_Term,361.0,342.537396,65.156643,6.0,360.00,360.0,360.0,480.0
Credit_History,338.0,0.825444,0.380150,0.0,1.00,1.0,1.0,1.0

In [ ]:
#Checking the no of unique loan applicants
hl['Loan_ID'].nunique()

367

In [ ]:
#Checking for number of loan applicants by gender
pd.DataFrame(hl['Gender'].value_counts())

        count
Gender
Male      286
Female     70

In [ ]:
#Checking for number of loan applicants by their education
pd.DataFrame(hl['Education'].value_counts())

              count
Education
Graduate        283
Not Graduate     84

In [39]:
pd.DataFrame(hl['Property_Area'].value_counts())

               count
Property_Area
Urban            140
Semiurban        116
Rural            111

In [55]:
hl['Education'].groupby('Gender')['Male']

KeyError: 'Gender'